<p>
  dashboard works!
</p>

<h3>
   Welcome to user dashboard
  </h3>
  <h4>
   Your personal dashboard is under construction, we will see you soon!
  </h4>

  <div class="mdl-grid">

      <div class="mdl-cell mdl-cell--4-col"></div>
          <div class="mdl-cell mdl-cell--4-col">
<h5>
            Link to your pages: <br><br>

           <a href="https://icicibank.com">  1. banking </a> <br>
           <a href="https://google.com">  2. course api </a> <br>
           <a href="https://google.com"> 3. products pages </a><br>
           <a href="https://google.com"> 4. shopping pages </a><br>
           <a href="https://google.com"> 5. stocks api </a> <br>
           <a href="https://google.com">  6. report generation </a><br>
           <a href="https://google.com"> 7. core java </a><br>
           <a href="https://google.com">  8. data structures </a><br>
           <a href="https://google.com">  9. algorithms </a><br>
           <a href="https://google.com">  10. system designs </a> <br>
           <a href="https://google.com"> 11. interesting interview questions </a> <br><br><br><br>

          

          Study Blogs <br><br>
          <a href="https://newjavaworld4u.blogspot.com/"> 1.  My Java World </a> <br>
          <a href="https://learnmyui.blogspot.com/">  2. Learn My UI </a> <br>
          <a href="https://learnmydb.blogspot.com/">  3. My Databse </a> <br>
          <a href="https://myspringconfiguration.blogspot.com/">  4. My Spring Learning </a> <br>
          <a href="https://myrestwebservices4u.blogspot.com/">  5. My Rest APIs </a> <br>
          <a href="https://myhibernatebasics.blogspot.com/">  6. My Hibernate </a> <br>
          <a href="https://myalgospacetime.blogspot.com/">  7. My Algorithms </a> <br>
          <a href="https://mydesignpatternslearnig.blogspot.com/">  8. My Designs Patterns </a> <br>
          <a href="https://gittomactmaven.blogspot.com/">  8. Git Tomcat Maven  </a> <br><br><br><br>

          

        </h5>
          </div>
              <div class="mdl-cell mdl-cell--4-col">

                <h5>
                  Your Banking Solution <br><br>

                  <a class="mdl-navigation__link mdl-layout-title" [routerLink]="['/profile']">My Organizer App</a>

                </h5>
              </div>
  </div>
