<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  


  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"> 
        <a class="mdl-navigation__link mdl-layout-title" [routerLink]="['/profile']">My Organizer App</a></span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" [routerLink]="['/profile']">User Profile</a>
   <a class="mdl-navigation__link" [routerLink]="['/login']">Login</a>
    </nav>
    </div>
    </header>
    <main class="mdl-layout__content" style="padding: 10px;">
    </main>
    </div>
    <router-outlet></router-outlet>
    </div>
  
